doctype html
html
  head
    title= title
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
  body
    block content
